<div class="ctn-main s-main">
  <div class="bc-bg">
    <div class="container">
      <div class="bc-el bc-hm">
        <a href="../../"><i class="fa fa-home"></i></a>
      </div>
      <div class="bc-el"><i class="fa fa-caret-right"></i></div>
      <div class="bc-el bc-text">
        <a href="../../#services">  
        	Services
        </a>  
      </div>
      <div class="bc-el"><i class="fa fa-caret-right"></i></div>
      <div class="bc-el bc-text">Careers</div>
    </div>
  </div>
  <div class="container px-0">
    <h1><b>CAREERS HOME</b></h1>
    <h3>
      Learn more about the various <b>possibilities</b>
      we offer for the <b>betterment</b> of your work
      environment through <b>Agile</b>
    </h3>
  </div> 
</div>
    
<div class="container s-title">
  <h1><b>JOBS & RESOURCES</b></h1>
  <h3>
    We specialize in <b>Champions</b> and in <b>Precise Resourcing</b>- The <b>Right Person</b> in the <b>Right Role</b>!<br/><br/><i><b>[Our undertaking - We will not approach any third party, on your behalf, without your consent]</b></i>
  </h3><br/>
  <div class="row m-0">
    <div class="ctn-ser card">
      <img class="card-img-top" src="img/chome-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Resume & CV Submission</h5>
        <p class="card-text">Click to register your details and your CV with Agile Sense. We will then match your details with any new role becoming available.</p>
        <a ui-sref="login"><button class="btn btn-dark btn-lg btn-block">Register / Login</button></a>   
      </div>
    </div>
    <div class="ctn-ser card card-mid">
      <img class="card-img-top" src="img/chome-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Search Jobs</h5>
        <p class="card-text">Browse through the various job positions available in our database and find one that suits your talent.<br/>Click the button below to begin your search.</p>
        <a ui-sref="jobs"><button class="btn btn-dark btn-lg btn-block">Search Jobs</button></a>   
      </div>
    </div>
    <div class="ctn-ser card">
      <img class="card-img-top" src="img/chome-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Refer Someone Else</h5>
        <p class="card-text">Know someone who is need of a better opportunity and could benefit from our comprehensive job database? Click the button below to login and refer them. Agile Sense will acknowledge any successful referral job placement with a R1,500 gift voucher.</p>
        <a ui-sref="login"><button class="btn btn-dark btn-lg btn-block">Refer a Friend</button></a>     
      </div>
    </div>
  </div>   
</div>
