<div class="ctn-secondary">
  <div class="bc-bg">
    <div class="container">
      <div class="bc-el bc-hm">
        <a href="../../"><i class="fa fa-home"></i></a>
      </div>
      <div class="bc-el"><i class="fa fa-caret-right"></i></div>
      <div class="bc-el bc-text">
        <a href="../../#services">  
          Services
        </a> 
      </div>
      <div class="bc-el"><i class="fa fa-caret-right"></i></div>
      <div class="bc-el bc-text">
        <a ui-sref="home">
          Careers
        </a>  
      </div>
      <div class="bc-el"><i class="fa fa-caret-right"></i></div>
      <div class="bc-el bc-text">User Home</div>
    </div>
  </div>
</div>
    
<div class="container s-ctn s-user">
  <div class="row text-right justify-content-center">
    <div class="col-md-12">
      <a ui-sref="login">Logout</a>
    </div>
  </div>
  <h1 class="text-center"><b>WELCOME, {{user.dispName}}</b></h1>
  <div class="row">
    <div class="col-lg-7 col-md-12 col-left">
      <h3>Your Details</h3>
      <form name="usForm" ng-submit="update()">
        <div class="form-group row">        
          <div class="col-md-12">
            <label>Are you currently in the market?</label>
            <select ng-options="o.value for o in opts.drop" ng-model="user.av" class="form-control">
              <option value="">-- Select Availability --</option>
            </select>
          </div>
        </div>
        <div class="form-group row">        
          <div class="col-md-6">
            <label>Full Name</label>
            <input type="text" ng-model="user.u_name" class="form-control" placeholder="Enter name" required>      
          </div>  
          <div class="col-md-6">
            <label>Email</label>
            <input type="email" disabled ng-model="user.u_email" class="form-control" placeholder="Enter email" required>
          </div>
        </div>  
        <div class="form-group row">
          <div class="col-md-6">
            <label>Uploaded CVs</label>
            <div ng-hide="user.u_files.length == 0">
              <div class="dl card" ng-repeat="f in user.u_files track by $index" title="{{f.name}}">
                <a target="_blank" href ng-click="download(f, $event)">                  
                  <div class="card-body py-2">
                    <img src="img/file.png" height="30" />
                    <span>&nbsp;{{f.name}}</span>
                  </div>
                </a>
              </div>
            </div>
            <input ng-show="user.u_files.length == 0" type="text" readonly class="form-control-plaintext" value="No Uploaded Files">            
          </div>
          <div class="col-md-6">
            <label>Upload Another CV</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" file-model="opts.files">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div ng-hide="opts.files.length == 0">
              <div class="card" ng-repeat="f in opts.files track by $index" title="{{f.name}}">
                <div class="card-body py-2">
                  <img src="img/file.png" height="30" />
                  <span>&nbsp;{{f.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label>General Comments / Instructions</label>
            <textarea rows="3" ng-model="user.u_comm" class="form-control" placeholder="Comments">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <button ng-disabled="usForm.$invalid" type="submit" class="btn btn-lg btn-block btn-dark">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-5 col-md-12">
      <h3>Refer A Friend</h3>
      <form name="rfForm" ng-submit="refer()">
        <div class="form-group row">
          <div class="col-md-6">
            <label>Full Name</label>
            <input type="text" ng-model="ref.r_name" class="form-control" placeholder="Enter name" required>      
          </div>  
          <div class="col-md-6">
            <label>Email</label>
            <input type="email" ng-model="ref.r_email" class="form-control" placeholder="Enter email" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label>Phone</label>
            <input type="text" ng-model="ref.r_ph" class="form-control" placeholder="Enter phone" required>      
          </div>  
          <div class="col-md-6">
            <label>Skill</label>
            <select ng-options="o.value for o in opts.skills" ng-model="ref.sk" class="form-control" required>
              <option value="">-- Select Skill --</option>
            </select>            
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label>Is the person currently in the market?</label>
            <select ng-options="o.value for o in opts.drop" ng-model="ref.av" class="form-control" required>
              <option value="">-- Select Availability --</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label>How do you know the person?</label>
            <input type="text" ng-model="ref.r_hw" class="form-control" placeholder="Enter name" required>      
          </div>
        </div>
        <div class="form-group row"> 
          <div class="col-md-12">
            <label>Does the person know you have referred them?</label>
            <div>              
              <div class="custom-control custom-radio custom-control-inline">
                <input ng-model="ref.r_knw" type="radio" id="r1" value="1" name="r" class="custom-control-input" required>
                <label class="custom-control-label" for="r1">Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input ng-model="ref.r_knw" type="radio" id="r2" value="0" name="r" class="custom-control-input" required>
                <label class="custom-control-label" for="r2">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <button ng-disabled="rfForm.$invalid" type="submit" class="btn btn-lg btn-block btn-dark">Refer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message from Webpage</h5>        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        {{ res.message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="showLoader" class="loader-ol h-100 w-100">
  <div class="loader-in">
    <div class="loader"></div><br/>
    <h3 ng-show="progress">Please wait.. {{progress}}%</h3>
  </div>
</div>