@media (max-width:1023px)  {	
	/* big landscape tablets, laptops, and desktops */	
	.s-about .ctn-img1{
		height: 30vw;
	}
	.s-about h2{
		font-size: 3vw;
	}
	.s-about h4{
		font-size: 2vw;
	}
	.s-mv .ctn-focus h2{
		font-size: 3vw;
    text-align: center;
	}
	.s-mv h4 {
		font-size: 2vw;
    text-align: left;
	}
	.s-dir h1{
	  font-size: 4.5vw;
	  margin-bottom: 0;
	}
	.s-dir h3{
	  margin: 1.5vw 0;
	  font-size: 2vw;
	}	
	.s-dir .card-body .row{
		flex-direction: column-reverse;
	}
	.s-dir .ctn-ser .dir-img{
		height: 15vw;
		width: 15vw;
		border-radius: 15vw;
		margin: 0 auto;
		margin-bottom: 2vw;
	}
	.s-dir .card-body .row .col-md-12{		
		text-align: center;
	}
	.s-dir .ctn-ser .card-title{
		font-size: 3.5vw;
	}
	.s-dir .ctn-ser .card-subtitle{
		font-size: 2.5vw;		
	}
	.s-dir .ctn-ser p.section-title {
		font-size: 2.5vw;
	}
	.s-dir .ctn-ser ul,
	.s-dir .ctn-ser p.section-text {		
		font-size: 2.25vw;
	}
	.s-dir .ctn-ser p.section-text i{
		font-size: 3vw;
		margin: 2vw;
	}
	.s-why h1{
	  font-size: 4.5vw;
	  margin-bottom: 0;
	}
	.s-why h3{
	  margin: 1.5vw 0;
	  font-size: 2vw;
	}
	.s-why .row{
	  font-size: 2vw;	
	}
	.s-why .ctn-img2{
		height: 35vw;
	}
	.s-testi h1{
	  font-size: 4.5vw;
	  margin-bottom: 0;
	}
	.s-testi h3{
	  margin: 1.5vw 0;
	  font-size: 2vw;
	}
	.s-testi .row-testi{
    height: 30vw;
    margin: 0;
	}
	.s-testi .ctn-testi img{
		height: 3vw;
	}
	.s-testi .ctn-testi h4{
    font-size: 2.25vw;
	}
	.s-testi .ctn-testi h5{
    font-size: 1.75vw;
	}
	.s-testi .carousel-control-prev-icon,
	.s-testi .carousel-control-next-icon{
		height: 5vw;
    width: 5vw;
	}
}

@media (max-width:767px)  {	
	/* smartphones, Android phones, landscape iPhone */
	.s-about .ctn-img1{
		height: 50vw;
		margin-bottom: 5vw;
	}
	.s-about h2{
		font-size: 6.5vw;
	}
	.s-about h4{
		font-size: 4vw;
	}	
	.s-mv .row:nth-child(2){
		flex-direction: column-reverse;
	}
	.s-mv .ctn-focus{
		padding: 3vw 0;
		margin-bottom: 5vw;
	}
	.s-mv .ctn-focus h2{
		font-size: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.s-mv .ctn-focus img{
		height: 6vw;
		margin-right: 3vw;
	}
	.s-mv h4 {
		font-size: 4vw;
    text-align: left;
	}
	.s-img-1{
		height: 35vw;
	}
	.s-dir h1{
	  font-size: 6.5vw;
	}
	.s-dir h3{
	  font-size: 4vw;
	}	
	.s-dir .ctn-ser{
		width: 95%;
		margin: 0 auto;
		margin-bottom: 5vw;
	}
	.s-dir .ctn-ser .dir-img{
    height: 25vw;
    width: 25vw;
	}
	.s-dir .ctn-ser .card-title{
		font-size: 5vw;
	}
	.s-dir .ctn-ser .card-subtitle{
		font-size: 4vw;		
	}
	.s-dir .ctn-ser p.section-title{
		font-size: 5vw;
	}
	.s-dir .ctn-ser ul,
	.s-dir .ctn-ser p.section-text{
		font-size: 4vw;
	}	
	.s-dir .ctn-ser p.section-text i{
		font-size: 6vw;
		margin: 4vw;
	}
	.s-why h1{
	  font-size: 6.5vw;
	}
	.s-why h3{
	  font-size: 4vw;
	}
	.s-why .row{
	  font-size: 4vw;	
	}
	.s-why .ctn-img2{
		height: 50vw;
	}
	.s-testi h1{
	  font-size: 6.5vw;
	}
	.s-testi h3{
	  font-size: 4vw;
	}
	.s-testi .row-testi{
		height: 60vw;
	}
	.s-testi .row-testi .col-md-4{
    display: none;
	}
	.s-testi .row-testi .col-md-8{
		padding-left: 0;
		padding-right: 0;			
	}	
	.s-testi .carousel-control-prev-icon,
	.s-testi .carousel-control-next-icon{
		height: 10vw;
    width: 10vw;
	}
	.s-testi .ctn-testi h4{
		font-size: 4vw;
	}
	.s-testi .ctn-testi h5{
		font-size: 3vw;		
	}
}

@media (max-width:480px)  {	
	/* smallest phone */
}
